<!doctype html>
<html class="no-js" lang="en">
    {% include "header.html" %}
  <body>
    <!-- show user the category to be deleted -->
    <div class="callout large primary">
      <div class="row column text-center">
        <h1>Delete Category: {{chosen_category.name}}</h1>
      </div>
    </div>
    <!-- end show user the category to be deleted -->
    <div class="row medium-8 large-7 columns">
      <!-- Show to user which category is being deleted -->
            <div class="blog-post">
        <div class="panel callout">
          <h4>Name: {{chosen_category.name}}</h4>
          <p>Description: {{chosen_category.description}}</p>
        </div>
      </div>
    </div>
      <!-- end show to user which category is being deleted -->
    <div class="row medium-8 large-7 columns">
      <!-- Delete form -->
      <form action="#" method ="post">
        <div class="row">
          <div class="large-12 columns">
            <button type="delete" class="button" id="submit" type="submit">Delete</button>
          </div>
        </div>
      </form>
      <!-- end delete form -->
    </div>
    {% include "script.html" %}
  </body>
</html>



