<!doctype html>
<html class="no-js" lang="en">
    {% include "header.html" %}
  <body>
    <div class="callout large primary">
      <div class="row column text-center">
        <h1>Our Blog</h1>
      </div>
    </div>

    <div class="row medium-8 large-7 columns">
    <!-- form to create new category -->
      <form action="#" method ="post">
        <div class="row">
          <div class="large-12 columns">
            <label for="name">Name:</label>
            <input type ="text" maxlength="100" name="name" placeholder="New category">
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <label for="description">Description:
              <textarea maxlength="250" rows="3" name="description" placeholder="Description of category"></textarea>  
            </label>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <button type="submit" class="button" id="submit" type="submit">Create</button>
          </div>
        </div>
      </form>
      <!-- end form to create new category -->
    </div>
    {% include "script.html" %}
  </body>
</html>



