<!doctype html>
<html class="no-js" lang="en">
    {% include "header.html" %}
    <body>
      {% include "topbar.html" %}
      
    <div class="callout large primary">
      <div class="row column text-center">
        <h1>Topic: {{topic.title}}</h1>
        <h2 class="subheader">Category: {{chosen_category.name}}</h2>
      </div>
    </div>
    
    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <img class="thumbnail" src="http://lorempixel.com/g/850/350/nature">
        <p>{{topic.content}}</p>
      </div>
    </div>
    {% include "script.html" %}
  </body>
</html>



