<!-- Start Top Bar -->
<nav class="top-bar hide-for-small">
  <section class="top-bar-left">
    <ul class="menu">
      <li>
        <a href="{{url_for('gdisconnect')}}">Logout</a>
      </li>
    </ul>
  </section>
</nav>
<!-- End Top Bar -->

<!-- Start Sign in pop up window -->

<div class="reveal row" id="login" data-reveal>
  <div class="column align-self-middle">
    <p>Use one of the options to sign in</p>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- End Sign in pop up window -->